@charset "utf-8";

#page-title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  // position: relative;
  z-index: 0;

  text-align: center;

  height: 240px;
  margin: 60px 40px 0;

  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  dl {
    text-align: center;
    color: #fff;

    padding-top: 58px;

    dt {
      position: relative;
      display: block;

      font-family: 'Poppins', sans-serif;
      font-weight: 700;

      font-size: 48px;
      line-height: 1;

      padding-bottom: 12px;
      margin-bottom: 16px;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;

        width: 260px;
        height: 3px;
        margin: 0 auto;
        background-color: #fff;
      }
    }

    dd {
      font-size: 16px;
      line-height: 1;
      font-weight: bold;
      margin: 0;
    }
  }

  &.page-news {
    background-image: url(../img/page_title/page_title_news.jpg);
  }

  &.page-blog {
    background-image: url(../img/page_title/page_title_blog.jpg);
  }

  &.page-company {
    background-image: url(../img/page_title/page_title_company.jpg);
  }

  &.page-company-history {
    background-image: url(../img/page_title/page_title_history.jpg);
  }

  &.page-company-koukoku {
    background-image: url(../img/page_title/page_title_koukoku.jpg);
  }

  &.page-kiyaku {/* same news */
    background-image: url(../img/page_title/page_title_company.jpg);
  }

  &.page-contact {
    background-image: url(../img/page_title/page_title_contact.jpg);
  }

  &.page-service {
    background-image: url(../img/page_title/page_title_service.jpg);
  }

  &.page-service-fancommerce {
    background-image: url(../img/page_title/page_title_service_fan-commerce.jpg);
  }

  &.page-service-digitalmarketing {
    background-image: url(../img/page_title/page_title_service_digital-marketing.jpg);
  }
}

body.en #page-title {
  dl {
    padding-top: 61px;

    dt {
      padding-bottom: 14px;
      margin-bottom: 0;
    }

    dd {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  #page-title {
    height: 240px;
    margin: 60px 30px 0;
  }
}

@media screen and (max-width: 800px) {
  #post-wrap {
    margin-top: 240px;
    padding-bottom: 60px;
  }

  #page-title {
    height: 180px;
    margin: 60px 25px 0;

    dl {
      padding-top: 32px;

      dt {
        font-size: 36px;

        padding-bottom: 10px;
        margin-bottom: 14px;

        &:after {
          width: 240px;
        }
      }

      dd {
        font-size: 15px;
      }
    }
  }

  body.en #page-title {
    dl {
      padding-top: 42px;

      dt {
        padding-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #post-wrap {
    margin-top: 170px;
    padding-bottom: 0;
  }

  #page-title {
    height: 120px;
    margin: 50px 0 0;

    dl {
      padding-top: 31px;

      dt {
        font-size: 26px;

        padding-bottom: 10px;
        margin-bottom: 12px;

        &:after {
          width: 210px;
          background-color: #ecdd04;
        }
      }

      dd {
        font-size: 14px;
      }
    }
  }

  body.en #page-title {
    dl {
      padding-top: 36px;

      dt {
        padding-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  //
}
