@charset "utf-8";

/* company
----------------------------------------- */

.foot-cal {
  dl.title {
    text-align: center;
    color: #101010;

    margin-bottom: 50px;

    dt {
      position: relative;
      display: block;

      font-family: 'Poppins', sans-serif;
      font-weight: 600;

      font-size: 32px;
      line-height: 1;

      padding-bottom: 15px;
      margin-bottom: 17px;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;

        width: 260px;
        height: 3px;
        margin: 0 auto;
        background-color: #101010;
      }
    }

    dd {
      font-size: 16px;
      line-height: 1;
      font-weight: normal;
    }
  }
}

body.en .foot-cal {
  dl.title {
    dt {
      margin-bottom: 0;
    }

    dd {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .foot-cal {
    dl.title {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .foot-cal {
    dl.title {
      margin-bottom: 28px;

      dt {
        font-size: 30px;

        padding-bottom: 12px;
        margin-bottom: 15px;

        &:after {
          width: 240px;
          height: 3px;
        }
      }

      dd {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .foot-cal {
    dl.title {
      margin-bottom: 25px;

      dt {
        font-size: 26px;

        padding-bottom: 10px;
        margin-bottom: 14px;

        &:after {
          width: 210px;
          height: 3px;
        }
      }

      dd {
        font-size: 13px;
      }
    }
  }
}

/* 会社概要 */

.page-table-company {
  table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
      background-color: #fff;
      border-bottom: 1px solid #f4f4f4;
    }

    tr:nth-child(even) {
      background-color: #f9fafa;
    }

    th,
    td {
      box-sizing: border-box;
      font-size: 14px;
      line-height: 34px;
    }

    th {
      color: #505050;
      text-align: left;
      font-weight: bold;

      padding: 17px 35px 19px;
      width: 180px;

      vertical-align: top;
    }

    td {
      color: #101010;
      padding: 17px 45px 19px;
    }
  }
}

body.en .page-table-company {
  table {
    th,
    td {
      font-family: 'Poppins', sans-serif;
    }

    th {
      font-size: 15px;
      line-height: 22px;
      font-weight: 700;

      padding: 18px 35px;
      width: 240px;
    }

    td {
      font-size: 15px;
      line-height: 34px;
      font-weight: 400;

      padding: 18px 45px;
    }
  }
}

@media screen and (max-width: 800px) {
  .page-table-company {
    table {
      th {
        padding: 16px 25px 18px;
        width: 150px;
      }

      td {
        padding: 16px 25px 18px;
      }
    }
  }

  body.en .page-table-company {
    table {
      th {
        font-size: 15px;
        line-height: 22px;

        padding: 17px 25px;
        width: 220px;
      }

      td {
        font-size: 15px;
        line-height: 34px;

        padding: 17px 25px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .page-table-company {
    table {
      th,
      td {
        font-size: 13px;
        line-height: 28px;
      }

      th {
        padding: 15px 20px;
        width: 130px;
      }

      td {
        padding: 15px 20px;
        vertical-align: middle;
      }
    }
  }

  body.en .page-table-company {
    table {
      th {
        font-size: 14px;
        line-height: 22px;

        padding: 17px 0 13px 20px;
        width: 160px;
      }

      td {
        font-size: 14px;
        line-height: 30px;

        padding: 15px 20px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .page-table-company {
    table {
      th,
      td {
        font-size: 12px;
        line-height: 24px;
      }

      th {
        padding: 13px 10px 13px 16px;
        width: 110px;
      }

      td {
        padding: 13px 16px;
      }
    }
  }

  body.en .page-table-company {
    table {
      th {
        font-size: 13px;
        line-height: 22px;

        padding: 15px 0 12px 16px;
        width: 120px;
      }

      td {
        font-size: 13px;
        line-height: 26px;

        padding: 13px 14px 13px 20px;
      }
    }
  }
}

/* 役員 */

.page-foot-member {
  margin-bottom: 50px;

  .foot-member {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .foot-member-bloc {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 40px;

    .img-box {
      width: 250px;

      img {
        width: 100%;
        height: auto;
        vertical-align: top;
      }
    }

    .txt-box {
      display: flex;
      flex: 1;
      align-items: center;

      dl {
        padding: 20px 30px 20px 50px;
        color: #101010;
        margin-top: -5px;
      }

      dt {
        font-size: 13px;
        line-height: 20px;

        margin-bottom: 9px;
      }

      dd {
        font-size: 23px;
        line-height: 32px;
        font-weight: bold;

        span {
          display: block;
          font-family: 'Poppins', sans-serif;
          font-weight: 300;

          font-size: 16px;
          line-height: 22px;
          letter-spacing: .04em;

          padding-top: 9px;
        }
      }
    }
  }
}

body.en .page-foot-member {
  .foot-member {
    padding-top: 35px;
  }

  .foot-member-bloc {
    .img-box {
      img {
        border-radius: 250px;
      }
    }

    .txt-box {
      dl {
        margin-top: -45px;
      }

      dt {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;

        font-size: 16px;
        line-height: 1;

        margin-bottom: 10px;
      }

      dd {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;

        font-size: 20px;
        line-height: 30px;

        span {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .page-foot-member {
    .foot-member-bloc {
      margin-bottom: 40px;

      .img-box {
        width: 220px;
      }

      .txt-box {
        dl {
          padding: 20px 30px 20px 40px;
        }
      }

      &:nth-child(even) {
        // width: 48%;

        .txt-box {
          dl {
            padding: 20px 0 20px 40px;
          }
        }
      }
    }
  }

  body.en .page-foot-member {
    .foot-member {
      padding-top: 20px;
    }

    .foot-member-bloc {
      .img-box {
        img {
          border-radius: 220px;
        }
      }

      .txt-box {
        dl {
          margin-top: -40px;
        }

        dt {
          font-size: 16px;
          line-height: 1;

          margin-bottom: 10px;
        }

        dd {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .page-foot-member {
    .foot-member-bloc {
      &:nth-child(even) {
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-foot-member {
    .foot-member-bloc {
      .img-box {
        width: 160px;
      }

      .txt-box {
        dl {
          padding: 20px 30px;
        }

        dt {
          font-size: 12px;
          line-height: 20px;

          margin-bottom: 8px;
        }

        dd {
          font-size: 20px;
          line-height: 30px;

          span {
            font-size: 15px;
            line-height: 22px;

            padding-top: 8px;
          }
        }
      }

      &:nth-child(even) {
        .txt-box {
          dl {
            padding: 20px 0 20px 30px;
          }
        }
      }
    }
  }

  body.en .page-foot-member {
    .foot-member {
      padding-top: 20px;
    }

    .foot-member-bloc {
      .img-box {
        img {
          border-radius: 160px;
        }
      }

      .txt-box {
        dl {
          margin-top: -20px;
        }

        dt {
          font-size: 15px;

          margin-bottom: 10px;
        }

        dd {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .page-foot-member {
    padding-top: 20px;
    margin-bottom: 30px;
  }
}

/* @media screen and (max-width: 600px) {
.page-foot-member {
	.foot-member-bloc {
		margin-bottom: 30px;

		.img-box {
			width: 200px;
		}

	}
}
} */

@media screen and (max-width: 740px) {
  .page-foot-member {
    .foot-member-bloc {
      width: 100%;
      margin-bottom: 30px;

      .img-box {
        width: 240px;
      }

      .txt-box {
        dl {
          padding: 20px 30px 20px 50px;

          margin-top: -5px;
        }

        dt {
          font-size: 13px;
          line-height: 20px;

          margin-bottom: 9px;
        }

        dd {
          font-size: 23px;
          line-height: 32px;

          span {
            font-size: 16px;
            line-height: 22px;

            padding-top: 9px;
          }
        }
      }

      &:nth-child(even) {
        width: 100%;

        .txt-box {
          dl {
            padding: 20px 30px 20px 50px;
          }
        }
      }
    }
  }

  body.en .page-foot-member {
    .foot-member {
      padding-top: 10px;
    }

    .foot-member-bloc {
      .img-box {
        img {
          border-radius: 240px;
        }
      }

      .txt-box {
        dl {
          margin-top: -40px;
        }

        dt {
          font-size: 16px;

          margin-bottom: 10px;
        }

        dd {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .page-foot-member {
    .foot-member-bloc {
      margin-bottom: 20px;

      .img-box {
        width: 160px;
      }

      .txt-box {
        dl {
          padding: 15px 0 15px 30px;

          margin-top: -3px;
        }

        dt {
          font-size: 12px;
          line-height: 18px;

          margin-bottom: 8px;
        }

        dd {
          font-size: 20px;
          line-height: 30px;

          span {
            font-size: 15px;
            line-height: 20px;

            padding-top: 8px;
          }
        }
      }

      &:nth-child(even) {
        .txt-box {
          dl {
            padding: 15px 0 15px 30px;
          }
        }
      }
    }
  }

  body.en .page-foot-member {
    .foot-member {
      padding-top: 10px;
    }

    .foot-member-bloc {
      .img-box {
        img {
          border-radius: 160px;
        }
      }

      .txt-box {
        dl {
          margin-top: -20px;
        }

        dt {
          font-size: 15px;

          margin-bottom: 8px;
        }

        dd {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .page-foot-member {
    .foot-member-bloc {
      margin-bottom: 15px;

      .img-box {
        width: 120px;
      }

      .txt-box {
        dl {
          padding: 15px 0 15px 25px;

          margin-top: -3px;
        }

        dt {
          font-size: 11px;
          line-height: 18px;

          margin-bottom: 6px;
        }

        dd {
          font-size: 16px;
          line-height: 26px;

          span {
            font-size: 13px;
            line-height: 18px;

            padding-top: 6px;
          }
        }
      }

      &:nth-child(even) {
        .txt-box {
          dl {
            padding: 15px 0 15px 25px;
          }
        }
      }
    }
  }

  body.en .page-foot-member {
    .foot-member {
      padding-top: 10px;
    }

    .foot-member-bloc {
      .img-box {
        img {
          border-radius: 120px;
        }
      }

      .txt-box {
        dl {
          margin-top: -10px;
        }

        dt {
          font-size: 14px;

          margin-bottom: 6px;
        }

        dd {
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .page-foot-member {
    .foot-member-bloc {
      .txt-box {
        dl {
          padding: 15px 0 15px 15px;
        }
      }

      &:nth-child(even) {
        .txt-box {
          dl {
            padding: 15px 0 15px 15px;
          }
        }
      }
    }
  }
}

/* マップ */

.page-foot-access {
  margin-bottom: 70px;

  #company-map {
    background-color: #f4f4f4;
    height: 500px;
  }
}

@media screen and (max-width: 800px) {
  .page-foot-access {
    margin-bottom: 50px;

    #company-map {
      height: 400px;
    }
  }
}

@media screen and (max-width: 600px) {
  .page-foot-access {
    margin-bottom: 30px;

    #company-map {
      height: 300px;
    }
  }
}

@media screen and (max-width: 400px) {
  .page-foot-access {
    margin-bottom: 20px;

    #company-map {
      height: 200px;
    }
  }
}

/* □□ */

.page-foot-pagelink {
  padding-top: 10px;
}

.page-foot-pagelink .inner {
  display: flex;
  justify-content: spe-between;

  .foot-pagelink-bloc {
    flex: 1;

    margin-left: 12px;

    &:first-child {
      margin-left: 0;
    }
  }

  .foot-pagelink-bloc a {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .foot-pagelink-bloc .img-box {
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }

  .foot-pagelink-bloc dl {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    dt,
    dd {
      text-align: center;
      color: #fff;
    }

    dt {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 42px;
      line-height: 1;

      margin-bottom: 17px;
    }

    dd {
      font-size: 16px;
      line-height: 1;
      font-weight: normal;
    }
  }

  .foot-pagelink-bloc.link-koukoku dl {
    dt,
    dd {
      color: #101010;
    }

    dt {
      letter-spacing: -.02em;
    }
  }

  .foot-pagelink-bloc.link-service-fc dl,
  .foot-pagelink-bloc.link-service-dm dl {
    dt {
      letter-spacing: -.02em;
    }
  }
}

body.en .page-foot-pagelink .inner {
  .foot-pagelink-bloc dl {
    dt {
      font-size: 43px;

      margin-bottom: 0;
    }

    dd {
      display: none;
    }
  }
}

@media screen and (min-width: 801px) {
  .page-foot-pagelink .inner {
    .foot-pagelink-bloc a img {
      -webkit-transform: scale(1);
      transform: scale(1);
      transition: all .3s ease;
    }

    .foot-pagelink-bloc a:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-foot-pagelink .inner {
    .foot-pagelink-bloc dl {
      dt {
        font-size: 34px;

        margin-bottom: 14px;
      }

      dd {
        font-size: 15px;
      }
    }
  }

  body.en .page-foot-pagelink .inner {
    .foot-pagelink-bloc dl {
      dt {
        font-size: 34px;

        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .page-foot-pagelink .inner {
    .foot-pagelink-bloc.link-service-fc dl,
    .foot-pagelink-bloc.link-service-dm dl {
      dt {
        font-size: 32px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .page-foot-pagelink .inner {
    .foot-pagelink-bloc.link-service-fc dl,
    .foot-pagelink-bloc.link-service-dm dl {
      dt {
        font-size: 28px;
      }
    }

    .foot-pagelink-bloc dl {
      dt {
        font-size: 30px;

        margin-bottom: 12px;
      }

      dd {
        font-size: 14px;
      }
    }
  }

  body.en .page-foot-pagelink .inner {
    .foot-pagelink-bloc dl {
      dt {
        font-size: 30px;

        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  body.en .page-foot-pagelink .inner,
  .page-foot-pagelink .inner {
    .foot-pagelink-bloc.link-service-fc dl,
    .foot-pagelink-bloc.link-service-dm dl {
      dt {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .page-foot-pagelink {
    padding-top: 0;
  }

  .page-foot-pagelink .inner {
    flex-flow: column;
    display: block;

    .foot-pagelink-bloc {
      margin-left: 0;
      margin-top: 20px;

      &:first-child {
        margin-left: 0;
        margin-top: 0;
      }
    }

    .foot-pagelink-bloc .img-box {
      min-height: 160px;

      position: relative;
      overflow: hidden;
      margin: 0 auto;

      img {
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        max-width: 100%;
      }
    }

    .foot-pagelink-bloc.link-service-fc dl,
    .foot-pagelink-bloc.link-service-dm dl {
      dt {
        font-size: 30px;
      }
    }
  }

  body.en .page-foot-pagelink .inner {
    .foot-pagelink-bloc.link-service-fc dl,
    .foot-pagelink-bloc.link-service-dm dl {
      dt {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .page-foot-pagelink .inner {
    .foot-pagelink-bloc {
      margin-top: 15px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  body.en .page-foot-pagelink .inner,
  .page-foot-pagelink .inner {
    .foot-pagelink-bloc.link-service-fc dl,
    .foot-pagelink-bloc.link-service-dm dl {
      dt {
        font-size: 27px;
      }
    }
  }
}

/* ヒストリー */

.page-table-history {
  table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;

    margin-bottom: 5px;

    tr {
      background-color: #fff;
      border-bottom: 1px solid #f4f4f4;
    }

    tr.even {
      background-color: #f9fafa;
    }

    th,
    td {
      box-sizing: border-box;
    }

    th {
      border-right: 6px solid #f4f4f4;
      background-color: #303030;

      color: #fff;
      text-align: center;
      vertical-align: top;

      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 1;

      padding: 24px 15px 20px;
      width: 150px;
    }

    td {
      text-align: left;
      color: #101010;
      font-size: 14px;
      line-height: 34px;
      font-weight: normal;

      padding: 17px 20px 19px 15px;
    }

    th + td,
    td:first-child {
      text-align: right;
      font-weight: bold;

      width: 76px;
      padding: 17px 0 19px 20px;
    }
  }
}

body.en .page-table-history {
  table {
    td {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;

      font-size: 15px;
    }

    th + td,
    td:first-child {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;

      width: 80px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-table-history {
    table {
      th {
        font-size: 22px;

        padding: 24px 15px 19px;
        width: 130px;
      }

      th + td,
      td:first-child {
        width: 65px;
        padding: 17px 0 19px 15px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .page-table-history {
    table {
      th {
        font-size: 20px;

        padding: 22px 15px 19px;
        width: 120px;
      }

      td {
        font-size: 14px;
        line-height: 26px;

        padding: 17px 20px 19px;
      }

      th + td,
      td:first-child {
        width: 65px;
        padding: 17px 0 19px 15px;
      }
    }
  }

  body.en .page-table-history {
    table {
      td {
        font-size: 15px;
      }

      th + td,
      td:first-child {
        width: 70px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .page-table-history {
    table {
      margin-bottom: 4px;

      th {
        border-right: 5px solid #f4f4f4;

        font-size: 18px;

        padding: 18px 15px;
        width: 100px;
      }

      td {
        font-size: 13px;
        line-height: 22px;

        padding: 16px;
      }

      th + td,
      td:first-child {
        width: 50px;
        padding: 16px 0 16px 15px;
      }
    }
  }

  body.en .page-table-history {
    table {
      td {
        font-size: 14px;
      }

      th + td,
      td:first-child {
        width: 60px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .page-table-history {
    table {
      margin-bottom: 2px;

      th {
        border-right: 3px solid #f4f4f4;

        font-size: 16px;

        padding: 15px 12px;
        width: 70px;
      }

      td {
        font-size: 12px;
        line-height: 20px;

        padding: 13px 16px 14px;
      }

      th + td,
      td:first-child {
        width: 48px;
        padding: 13px 0 14px 10px;
      }
    }
  }

  body.en .page-table-history {
    table {
      td {
        font-size: 13px;
      }

      th + td,
      td:first-child {
        width: 50px;
      }
    }
  }
}

/* 電子広告 */

.notice-bloc {
  box-shadow: 0 0 0 1px rgba(239, 239, 239, 1);

  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  a,
  a:visited {
    display: block;
    background-color: #fff;
  }

  dl {
    position: relative;

    display: flex;
    justify-content: space-between;

    dt,
    dd {
      box-sizing: border-box;
    }

    dt {
      width: 180px;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 24px 16px 22px;

      color: #101010;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
    }

    dd {
      flex: 1;
      display: flex;
      flex-flow: column;
      justify-content: center;

      padding: 24px 200px 22px 16px;

      p.title {
        color: #101010;

        font-size: 14px;
        line-height: 20px;
        font-weight: normal;

        margin-bottom: 4px;
      }

      p.file-name {
        color: #0067da;

        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
      }
    }
  }

  dl {
    &:after {
      content: '';
      position: absolute;
      right: 30px;
      top: 50%;

      width: 34px;
      height: 34px;
      margin-top: -17px;

      background-image: url(../img/post/pdf_icon.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
    }
  }
}

body.en .notice-bloc {
  dl {
    dt {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 16px;
    }

    dd {
      p.title {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;

        font-size: 15px;
        line-height: 22px;
      }

      p.file-name {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;

        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}

@media screen and (min-width: 801px) {
  .notice-bloc {
    a {
      transition: background-color .2s;
    }

    a:hover {
      background-color: #f9fafa;
    }
  }
}

@media screen and (max-width: 1024px) {
  .notice-bloc {
    dl {
      dt {
        width: 170px;

        padding: 24px 16px 22px;

        font-size: 13px;
        line-height: 20px;
      }

      dd {
        padding: 24px 150px 22px 6px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .notice-bloc {
    dl {
      dt {
        padding: 22px 16px 20px;
      }

      dd {
        padding: 22px 100px 20px 6px;
      }
    }

    dl {
      &:after {
        right: 25px;
      }
    }
  }

  body.en .notice-bloc {
    dl {
      dt {
        font-size: 15px;
      }

      dd {
        p.title {
          font-size: 14px;
          line-height: 22px;
        }

        p.file-name {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .notice-bloc {
    margin-bottom: 10px;

    dl {
      flex-flow: column;

      dt {
        font-weight: normal;
        width: 100%;
        justify-content: flex-start;

        padding: 22px 80px 0 20px;

        font-size: 12px;
        line-height: 16px;
      }

      dd {
        padding: 4px 90px 20px 20px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .notice-bloc {
    margin-bottom: 8px;

    dl {
      flex-flow: column;

      dt {
        font-weight: normal;
        width: 100%;
        justify-content: flex-start;

        padding: 18px 70px 0 20px;
      }

      dd {
        padding: 6px 80px 17px 20px;

        p.title {
          font-size: 13px;
          line-height: 18px;

          margin-bottom: 4px;
        }

        p.file-name {
          font-size: 13px;
          line-height: 18px;
        }
      }
    }

    dl {
      &:after {
        right: 20px;
      }
    }
  }

  body.en .notice-bloc {
    dl {
      dt {
        font-size: 15px;
      }

      dd {
        p.title {
          font-size: 14px;
          line-height: 20px;
        }

        p.file-name {
          font-size: 13px;
          line-height: 20px;
        }
      }
    }
  }
}
